* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #353535;
    padding: 0px 50px;
    font-family: 'Montserrat', sans-serif;
}

.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blendout 5s ease-in-out;
    opacity: 0%;
    .welcomeCard{
        width: 220px;
        height: 356px;
        box-shadow: 0px 20px 15px #00000040;
        z-index: 0;
        animation: shadow 5s ease-in-out;
    }
    .boder {
        width: 220px;
        height: 356px;
        border-radius: 16px;
        background: linear-gradient(45deg, #efefef 0%, #353535 40%, #353535 70%, #efefef 100%);
        padding: 2px;
    }
    .MainCard{
        z-index: 1;
        border-radius: 15px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(src/static/img/title.svg);
    }
}

@keyframes blendout {
    0% {opacity: 100%;};
    90%{opacity: 100%;};
    100%{opacity: 0%;}
}

@keyframes shadow {
    0%{box-shadow: none;};
    80%{box-shadow: 0px 20px 15px #00000040;};
    100%{box-shadow: none}
}

.clickArea {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    z-index: 0;
    overflow: hidden;
    #countnum{
        font-size: 26px;
        font-weight: 800;
    }
    .giftContainer {
        background-image: url(src/static/img/closed.png);
        width: 80%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 10vh;
    }
    h3 {
        margin-bottom: 10vh;
    }
    .opengiftContaner {
        background-image: url(src/static/img/open.png);
        width: 80%;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 10vh;
    }
}

.Coupon {
    background-color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 20px #35353520;
    color: #353535;
    margin: auto;
    max-width: 500px;
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: -2000px;
    z-index: 100;
    transition: bottom 2s ease-in-out;
    p {
        line-height: 23px;
        text-align: left;
    }
    h4 {
        text-align: left;
    }
    button {
        border: none;
        outline: none;
        background: none;
        img {
            width: 75px;
            height: auto;
        }
    }
}