* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #353535;
  padding: 0px 50px;
  font-family: 'Montserrat', sans-serif;
}

.welcome {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: blendout 5s ease-in-out;
          animation: blendout 5s ease-in-out;
  opacity: 0%;
}

.welcome .welcomeCard {
  width: 220px;
  height: 356px;
  -webkit-box-shadow: 0px 20px 15px #00000040;
          box-shadow: 0px 20px 15px #00000040;
  z-index: 0;
  -webkit-animation: shadow 5s ease-in-out;
          animation: shadow 5s ease-in-out;
}

.welcome .boder {
  width: 220px;
  height: 356px;
  border-radius: 16px;
  background: linear-gradient(45deg, #efefef 0%, #353535 40%, #353535 70%, #efefef 100%);
  padding: 2px;
}

.welcome .MainCard {
  z-index: 1;
  border-radius: 15px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(src/static/img/title.svg);
}

@-webkit-keyframes blendout {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes blendout {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  80% {
    -webkit-box-shadow: 0px 20px 15px #00000040;
            box-shadow: 0px 20px 15px #00000040;
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  80% {
    -webkit-box-shadow: 0px 20px 15px #00000040;
            box-shadow: 0px 20px 15px #00000040;
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.clickArea {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
  z-index: 0;
  overflow: hidden;
}

.clickArea #countnum {
  font-size: 26px;
  font-weight: 800;
}

.clickArea .giftContainer {
  background-image: url(src/static/img/closed.png);
  width: 80%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10vh;
}

.clickArea h3 {
  margin-bottom: 10vh;
}

.clickArea .opengiftContaner {
  background-image: url(src/static/img/open.png);
  width: 80%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10vh;
}

.Coupon {
  background-color: white;
  padding: 50px 30px 50px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 20px #35353520;
          box-shadow: 0px 20px 20px #35353520;
  color: #353535;
  margin: auto;
  max-width: 500px;
  position: fixed;
  left: 50px;
  right: 50px;
  bottom: -2000px;
  z-index: 100;
  -webkit-transition: bottom 2s ease-in-out;
  transition: bottom 2s ease-in-out;
}

.Coupon p {
  line-height: 23px;
  text-align: left;
}

.Coupon h4 {
  text-align: left;
}

.Coupon button {
  border: none;
  outline: none;
  background: none;
}

.Coupon button img {
  width: 75px;
  height: auto;
}
/*# sourceMappingURL=main.css.map */